//variables colores general
$colores:(
    titulos: #5AFF15,
    parrafos: black,
    h6: black,
    boton: #FFF,
    boton2: black,
    micolor: #5AFF15,
);

//variables formulario

$ancho-box: 340px;
$alto-box: 440px;
$border-box: 8px;

//variables cards
$ancho-boxcard: 100%;
$border-cards: 10px;
$ancho-img: 200px;
$alto-img: 200px;

//variables boton
$ancho-boton: 100%;
$border-boton: 10px;

//variable font
$font-family: 'Montserrat',sans-serif;

//var logo
$ancho-logo: 30px;
